<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- Log to a file -->
    <target xsi:type="File" name="file" fileName="C:\Users\Fahama Khan\Desktop\WEB API Projects\TaskManagementSystem\TaskManagementSystem.Api\logs\${shortdate}.log" layout="Level: ${uppercase:${level}}${newline}Message: ${message}${newline}Date: ${longdate}${newline}"/>
    
    <!-- Log to the console with the desired format -->
    <target xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" name="console" layout="Level: ${uppercase:${level}}${newline}Message: ${message}${newline}Date: ${longdate}${newline}">
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" backgroundColor="Black" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" backgroundColor="Black" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="Black" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <!-- Log to the database using NLog.Targets.EntityFramework -->
    <target xsi:type="Database" name="db" connectionString="Data Source=FAHAMAKHAN;Initial Catalog=TaskManagementSystemDb;Integrated Security=True">
      <commandText>
        INSERT INTO Log (TimeStamp, Level, Logger, Message, Exception)
        VALUES (@TimeStamp, @Level, @Logger, @Message, @Exception);
      </commandText>
      <parameter name="@TimeStamp" layout="${longdate}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Exception" layout="${exception:format=ToString}" />
    </target>
  </targets>

  <rules>
    <!-- Log everything to the file target -->
    <logger name="*" minlevel="Info" writeTo="file" />

    <!-- Log everything to the console target with the desired format -->
    <logger name="*" minlevel="Trace" writeTo="console" />

    <!-- Log everything to the database target -->
    <logger name="*" minlevel="Trace" writeTo="db" />
  </rules>
</nlog>
